<div class="container" style="display:flex; justify-content: center; margin-top: 30px;">
  <div class="container-form-devise">
    <h2 class="text-center">Editar mi cuenta</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="mt-3">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="mt-3">
          <%= f.input :password,
              hint: "leave it blank if you don't want to change it",
              required: false,
              input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="mt-3">
          <%= f.input :password_confirmation,
              required: false,
              input_html: { autocomplete: "new-password" } %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <div class="mt-3">
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>
      </div>

      <div class="form-actions d-grid gap-2 mt-3">
        <%= f.button :submit, "Actualizar cambios", class: 'btn button-sesion' %>
      </div>
    <% end %>
    <h3 class="text-center mt-3">Cancelar mi cuenta</h3>

    <p class="text-center">¿Algún problema?  <%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    <div class="d-grid gap-2 my-3 text-center">
      <%= link_to "Regresar", :back, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
</div>
