<% number_product = @products_in_cart.count %>

<section class="container-shopping-carts">
  <div class="container">
    <% if number_product == 0 %>
      <div class="container-empty-cart">
        <div class="content-img">
          <%= image_tag("empty-cart.png") %>
        </div>
        <p class="my-4">Su carrito está vacío.</p>
        <%= link_to 'volver a la tienda', products_path %>
      </div>
    <% else %>
      <div class="container-list-product-cart">
        <p class="title">Carrito de Compras.</p>
        <div class="content-buy-product">
          <div class="container-list-products">
            <% @products_in_cart.each do |shopping_cart_product| %>
              <div class="item-product my-3 lead">
                <div class="product-img">
                  <% if shopping_cart_product.product.id <= 10 %>
                    <%= image_tag("product-a#{shopping_cart_product.product.id}.jpg") %>
                  <% else %>
                    <%= image_tag("product-a4.jpg") %>
                  <% end %>
                </div>
                <div class="content-description">
                  <p class="text-muted pt-2">
                    <span><%= shopping_cart_product.product.title %></span>
                    <span class="me-3">
                      <!--a_like_from (1: lista de productos, 2: show products, 3: shopping cart)-->
                      <%= link_to product_likes_path(:product => shopping_cart_product.product, :a_like_from => 3), method: :post do %>
                        <i class="fa fa-heart"></i>
                      <% end %>
                      &nbsp;
                      <%= link_to shopping_cart_product_path(shopping_cart_product), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="far fa-trash-alt"></i>
                      <% end %>
                    </span>
                  </p>
                  <p>
                    <span>S/<%= shopping_cart_product.product.price %></span>
                    <span class="me-3 add-or-minus-products">
                      <% if shopping_cart_product.quantity != 1 %>
                        <%= link_to shopping_cart_product_path(shopping_cart_product,:quantity => -1), method: :patch do %>
                          <i class="fas fa-minus"></i>
                        <% end %>
                      <% else %>
                        <i class="fas fa-minus disable"></i>
                      <% end %>
                      &nbsp;&nbsp;<%= shopping_cart_product.quantity %>&nbsp;&nbsp;
                      <%= link_to shopping_cart_product_path(shopping_cart_product,:quantity => 1), method: :patch do %>
                        <i class="fas fa-plus"></i>
                      <% end %>
                    </span>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
          <div class="container-total-pagar mt-3">
            <h4 class="ms-3 mt-3">Resumen</h4>
            <p class="ms-3 mt-2"><%= number_product %> productos</p>
            <p class="mx-3 mt-2 total">
              <span>Total a Pagar</span><span class="text-rigth"> S/<%= @total %></span>
            </p>
            <div class="mx-3 mb-3">
              <%= link_to 'Pagar', charges_path(:amount => @total), method: :post %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>
