<section class="container" style="display:flex; justify-content: center; margin-top: 30px;">
  <div class="container-form-devise">
    <h2 class="text-center">Iniciar sesión</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <div class="mt-3">
          <%= f.input :email,
              required: false,
              autofocus: true,
              input_html: { autocomplete: "email" } %>
        </div>
        <div class="mt-3">
          <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
        </div>
        <div class="mt-3">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
      </div>

      <div class="form-actions d-grid gap-2 mt-3">
        <%= f.button :submit, "Iniciar sesión", class: 'btn button-sesion' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</section>
