<section class="container">
  <% if user_signed_in? && policy(Category).new? %>
    <p class="text-end mt-5 new-category">
      <%= link_to 'Nueva Categoria', new_category_path, class: 'btn' %>
    </p>
    <% end %>
  <div class="container-auto-grid mt-3">
    <% @categories.each do |category| %>
      <div class="card item-category mx-2 mb-4">
        <% if category.id <= 3 %>
          <%= image_tag("category#{category.id}.jpg", class: 'card-img-top') %>
        <% else %>
          <%= image_tag("category1.jpg", class: 'card-img-top') %>
        <% end %>
        <div class="card-body">
          <p class="card-text text-center"><%= category.name %></p>
          <% unless category.deleted_at %>
            <p  class="card-text text-center icons-edit-delete">
              <% if user_signed_in? && policy(Category).edit? %>
                <%= link_to edit_category_path(category) do %>
                  <i class="far fa-edit"></i>
                <% end %>
              <% end %> &nbsp;&nbsp;
              <% if user_signed_in? && policy(Category).destroy? %>
                <%= link_to category, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              <% end %>
            </p>
          <% else %>
            <p class="card-text text-center icons-edit-delete">
              <%= link_to category_restore_path(category), method: :post do %>
                <i class="fas fa-trash-restore"></i>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>
