<section style="background-color: #F5F5F5" class="pt-4 pb-4">
  <div class="container">
    <p class="text-end">
      <% if user_signed_in? && policy(Product).new?%>
        <!-- listar productos (1:eliminados, 2: productos no eliminados) -->
        <%= link_to 'Productos No Eliminados', products_path(:is_removed_products => 2), class: 'btn btn-info', method: :get %>
        <%= link_to 'Productos Eliminados', products_path(:is_removed_products => 1), class: 'btn btn-danger', method: :get %>
        <%= link_to 'Nuevo Producto', new_product_path, class: 'btn btn-secondary' %>
      <% end %>
    </p>
    <div class="auto-grid">
      <% @products.each_with_index do |product, index| %>
        <div class="product-grid">
          <% if product.deleted_at %>
            <%= render 'list_products_deleted', product: product %>
          <% else %>
            <%= render 'list_products_not_deleted.html', product: product %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
