<div style="background-color: #F1FAF8;">
  <div class="container" style="padding: 20px 0;">
    <div class="auto-grid">
      <% @products.each_with_index do |product, index| %>
        <div class="product-grid">
            <div class="product-image">
              <%= link_to product do %>
                <% if product.id <= 5 %>
                  <%= image_tag("product-a#{product.id}.jpg", class: 'pic-1') %>
                  <%= image_tag("product-b#{product.id}.jpg", class: 'pic-2') %>
                <% else %>
                  <%= image_tag("product-a4.jpg", class: 'pic-1') %>
                  <%= image_tag("product-b4.jpg", class: 'pic-2') %>
                <% end %>
              <% end %>
              <span class="product-sale-label">sale!</span>
              <ul class="social">
                  <li>
                    <%= link_to product do %>
                      <i class="fa fa-eye"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to product_likes_path(:product => product), method: :post do %>
                      <i class="fa fa-heart"></i>
                    <% end %>
                  <li>
                    <%= link_to edit_product_path(product), style: 'color: #fff; background-color: blue;' do %>
                      <i class="far fa-edit"></i>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }, style: 'color: #fff; background-color: red;' do %>
                      <i class="far fa-trash-alt"></i>
                    <% end %>
                  </li>
              </ul>
              <div class="product-rating">
                  <ul class="rating">
                      <li class="fas fa-star"></li>
                      <li class="fas fa-star"></li>
                      <li class="fas fa-star"></li>
                      <li class="far fa-star"></li>
                      <li class="far fa-star"></li>
                  </ul>
                  <a class="add-to-cart" href="#"> ADD TO CART </a>
              </div>
            </div>
            <div class="product-content">
                <h3 class="title"><%= link_to "Women's Tshirt", product %></h3>
                <div class="price">$19.00</div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
